.Body {
  background-color: #f2ebe3;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.Main {
  width: 800px;
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 25%;
}

.Box {
  background-color: #ffffff;
  color: #6c7289;
  padding: 20px 35px;
  margin-right: 110px;
  box-sizing: border-box;
  border-radius: 0 15px 15px 0;

}

.Image {
  width: 100%;
  height: 100%;
  border-radius: 15px 0 0 15px;
}

.Perfume {
  font-weight: 500;
  font-family: 'Fraunces', serif;
  ;
}

.Titulo {
  color: black;
  font-family: 'Fraunces', serif;
}

.Price {
  font-size: 25px;
  padding: 0 0 20px 0;
  color: #3c8067;
  font-family: 'Fraunces', serif;
}

.Oldprice {
  color: #6c7289;
  text-decoration: line-through;
  padding-left: 30px;
  font-size: 15px;
}

.Button {
  padding: 10px 130px;
  font-size: 15px;
  border-radius: 10px;
  color: #ffffff;
  background-color: #3c8067;
  border: none;
  font-weight: 700;
  justify-content: center;
}

:hover.Button {
  background-color: #2b4633;
  cursor: pointer;
}

.Shopping {
  width: 20px;
  margin-right: 10px;
}


@media screen and (max-width: 750px) {

  .Body {
    height: 100vh;
    width: 100vw;
    padding: 5%;
    position: relative;
  }

  .Main {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
  }

  .Image {
    width: 50%;
    border-radius: 10px 10px 0 0;
  }

  .Box {
    width: 50%;
    height: 50%;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 0 0 10px 10px;
  }

  .Price {
    font-size: 20px;
    padding: 0 0 0 0;
  }

  .Oldprice {
    padding-left: 5px;
    font-size: 10px;
  }

  .Button {
    padding: 5px 50px;
    font-size: 10px;
    font-weight: 600;
  }
}